body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

.background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .background-video {
        display: none;
    }
}

.container {
    background: rgba(255, 255, 255, 0.7); 
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

button {
    background-image: linear-gradient(to right top, #d6a4e1 0%, #aad4f8 100%);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    display: block;
}

button:hover {
    background-color: gray;
}

.update-password-container {
    margin-top: 10px;
}

.update-password-container button,
.forgot-password-container button {
    background-image: linear-gradient(to right top, #d6a4e1 0%, #aad4f8 100%);
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: 100%; 
}

.update-password-container button:hover,
.forgot-password-container button:hover {
    background-color: #e74c3c;
}

#security_code_container {
    position: relative;
    display: inline-block; 
}

#security_code_text {
    font-size: 18px;
    font-weight: bold;
    color: #333; 
    padding: 5px 10px;
    background-color: #f4f4f4; 
    border-radius: 5px; 
    display: inline-block;
    margin-right: 10px; 
    vertical-align: middle; 
}

#security_code_container input[type="text"] {
    width: 150px; 
    padding: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    vertical-align: middle; 
}

.password-container {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
