body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

section {
    margin: 20px;
}

#water-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

#production-methods,
#distribution-network {
    background-image: linear-gradient(to right top, #add8e6 0%, #1a73e8 100%);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#production-methods ul,
#distribution-network ul {
    padding: 0;
    text-align: center;
}

#production-methods li,
#distribution-network li {
    list-style: none;
    margin-bottom: 15px;
    position: relative;
}

#production-methods li::before,
#distribution-network li::before {
    font-size: 1.5em;
    position: absolute;
    left: -20px;
}

.animate {
    opacity: 1;
}

#consumptionChart {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#water-saving-tips {
    text-align: left;
    background-image: linear-gradient(to right top, #add8e6 0%, #1a73e8 100%);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#water-saving-tips h2 {
    margin-bottom: 20px;
}

.savings-item {
    display: flex;
    margin: 20px;
}

.image-container {
    flex: 1;
    max-width: 200px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container img {
    width: 100%;
    height: auto;
}

.text-container {
    flex: 2;
    text-align: left;
}

.text-container h3 {
    margin-top: 0;
}

#water-saving-tips ul {
    padding: 0;
    list-style: none;
}

#water-saving-tips li {
    margin-bottom: 15px;
    position: relative;
}

#water-saving-tips li::before {
    font-size: 1.5em;
    position: absolute;
    left: -20px;
}


